body {
  background-image: url(../images/cloud.jpg);
  text-shadow: 0 0 5px white, 0 0 8px white;;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.headtitle {
  height: auto;
  width: max-content;
  margin: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  min-width: auto;

}

#Zen {
  background-color: #0082FF;
  color: white;
  border-radius: 8px ;
}
.Zen2 {
  background-color: #0082FF;
  color: white;
  border-radius: 5px ;
}

.center {
  height: auto;
  width: auto;
  text-align: center;
  margin: 100px auto;
}

.description {
  font-weight: bolder;
  font-size: max(13px, 1.5em);
}

.contents {
  min-height: 100px;
  margin: auto;
text-align: center;

}

.links {
  font-size: 20px;
  display: inline-block;
  width: 30%;
  margin: auto;
  vertical-align: top;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

.music {
  width: 100%;
  height: 70px;
  position: fixed;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
  vertical-align: bottom;
}

.sotd {
  display: inline-block;
  background-color: blue;
  vertical-align: top;
}

.sotdtext {
  display: inline-block; 
  width: 49%;
  height: 70px;
  font-size: 30px;
  margin-top: 15px;
  text-align: center;
}

.information {
  background-color: white;
  border-style: solid;
  border-radius: 7px;
  border-color: black;
  width: 75%;
  text-align: center;
  margin: auto;
  font-size: 1.4rem;
  padding: 10px 7px;
}

.figure {
  margin: 20px  auto;
  width: fit-content;
  display: block;
}

.information:hover {
  background-color: black;
  color: white;
}

.pagerefer {
  margin: 40px auto;
  text-align: center;
  display: block;
  border-color: black;
  border-style: solid;
  width: fit-content;
  padding: 10px;
  font-weight: bold;
  border-radius: 6px;
}

.personal {
  width: 75%;
  font-size: 30px;
  text-align: center;
  margin: 20px auto;
}

.empty {
  height: 50px;
  display: block;
}